<section class="flex flex-col items-start justify-start gap-6 pl-6 md:flex-row md:justify-around">
    <div>
        <app-subsections-headers [title]="'Booking'"></app-subsections-headers>
        <div class="flex items-start justify-start">
            <fa-icon [icon]="iconsService.faEnvelopeOpen" class="mr-1 text-accent-orange"></fa-icon>
            <a href="mailto:book@example.com">book&#64;example.com</a>
        </div>
    </div>
    <div>
        <app-subsections-headers [title]="'General'"></app-subsections-headers>
        <div class="flex items-start justify-start">
            <fa-icon [icon]="iconsService.faEnvelopeOpen" class="mr-1 text-accent-orange"></fa-icon>
            <a href="mailto:book@example.com">book&#64;example.com</a>
        </div>
    </div>
    <div>
        <app-subsections-headers [title]="'Technical'"></app-subsections-headers>
        <div class="flex items-start justify-start">
            <fa-icon [icon]="iconsService.faEnvelopeOpen" class="mr-1 text-accent-orange"></fa-icon>
            <a href="mailto:book@example.com">book&#64;example.com</a>
        </div>
    </div>
</section>