<section class="grid grid-cols-2 grid-rows-2 gap-6 m-6 md:p-12">
    <div #images class="flex">
        <img src="/assets/img/about-1.jpg" alt="">
    </div>
    <div #images class="flex">
        <img src="/assets/img/about-2.jpg" alt="" class="pt-8 pr-8 md:pt-16 md:pr-16">
    </div>
    <div #images class="flex">
        <img src="/assets/img/about-3.jpg" alt="" class="pb-8 pl-8 md:pb-16 md:pl-16">
    </div>
    <div #images class="flex">
        <img src="/assets/img/about-4.jpg" alt="">
    </div>
</section>