<section>
    <ul>
        <li *ngFor="let dish of dishes" class="flex items-center justify-center gap-8">
            <img src="/assets/img/menu-1.jpg" alt="immagine" class="">
            <div class="flex flex-col gap-1">
                <div class="flex items-center gap-8 text-2xl font-extrabold font-nunito">
                    <span class="">Nome Piatto</span>
                    <span class="text-accent-orange">10$</span>
                </div>
                <hr>
                <p class="italic font-heebo">descrizione</p>
            </div>
        </li>
    </ul>
</section>