<div class="py-5 text-center text-white home-image">
    <div class="flex flex-col gap-8 py-5">
        <div class="flex flex-col items-center justify-center gap-2 px-5 pt-10">
            <h1 class="mt-12 text-4xl font-extrabold font-nunito">Services</h1>
            <nav class="pb-4 mb-24 font-normal">
                <ol class="flex gap-2 list-none">
                    <li>
                        <a [routerLink]="''" routerLinkActive="text-accent-orange">HOME</a>
                    </li>
                    <span class="opacity-40">/</span>
                    <li>
                        <p class="text-accent-orange">PAGES</p>
                    </li>
                    <span class="opacity-40">/</span>
                    <li>
                        <a [routerLink]="'/service'">SERVICE</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="flex flex-col items-center justify-center">
    <div class="flex items-center justify-center w-full gap-3 px-8 mt-20 max-h-16">
        <hr class="w-1/6 border-2 rounded-md border-accent-orange">
        <h5 class="text-xl font-medium font-pacifico text-accent-orange">Our Services</h5>
        <hr class="w-1/6 border-2 rounded-md border-accent-orange">
    </div>
    <h1 class="w-full text-3xl font-extrabold text-center font-nunito">Explore Our Services</h1>
    <div class="grid gap-2 m-6 grid-rows-8">
        <div *ngFor="let service of servicesService.serviceCards; let i = index" 
        class="flex flex-col items-start row-span-1 gap-2 p-8 cursor-pointer shadow-custom card-active transition-fade-effect"
        (click)="setActiveCard(i)"
        [ngClass]="{'card-active' : i === activeCardIndex}">
                <fa-icon [icon]="iconsService.getFromName(service.iconName)" 
                class="mb-2 text-5xl text-accent-orange"
                [ngClass]="{'text-accent-white transition-fade-effect' : i === activeCardIndex, 'text-accent-orange' : i != activeCardIndex}">
                ></fa-icon>
                <h5 class="text-2xl font-bold font font-nunito">{{service.title}}</h5>
                <p>{{service.description}}</p>
        </div>
    </div>
</div>
