<section>
    <nav class="flex border-b">
        <ul class="flex gap-4 list-none">
            <li class="flex items-center gap-4">
                <fa-icon [icon]="iconsService.faMugSaucer" class="text-4xl text-accent-orange"></fa-icon>
                <div class="flex flex-col items-start justify-start">
                    <p class="font-normal font-heebo">Popular</p>
                    <h6 class="font-extrabold font-nunito">Breackfast</h6>
                </div>
            </li>
        </ul>
    </nav>
</section>