<section>
    <nav class="flex items-center justify-center">
        <ul class="flex flex-wrap items-center justify-center w-full list-none md:gap-8 md:flex-nowrap">
            <li *ngFor="let navItem of menuNavbarService.menuNavbarInfo; let i = index" class="flex items-start justify-center w-1/2 cursor-pointer "
            (click)="changeMenuSection(navItem.title,i)"
            [ngClass]="{'border-b-2 border-accent-orange -mb-0.5' : index === i}"
            >
            <fa-icon [icon]="iconsService.getFromName(navItem.iconName)" class="text-4xl text-accent-orange"></fa-icon>
            <div class="flex flex-col items-start justify-start pl-3">
                <p class="font-normal font-heebo">{{navItem.lable}}</p>
                <h6 class="font-extrabold font-nunito">{{navItem.title}}</h6>
            </div>
        </li>
    </ul>
</nav>
<hr class="w-full my-4">

</section> 