<div class="grid gap-6 m-6 grid-rows-8">
    <div *ngFor="let service of servicesService.serviceCards; let i = index" 
    class="flex flex-col items-start row-span-1 gap-2 p-8 cursor-pointer shadow-custom card-active transition-fade-effect"
    (click)="setActiveCard(i)"
    [ngClass]="{'card-active' : i === activeCardIndex}">
    <fa-icon [icon]="iconsService.getFromName(service.iconName)" 
    class="mb-2 text-5xl text-accent-orange"
    [ngClass]="{'text-accent-white transition-fade-effect' : i === activeCardIndex, 'text-accent-orange' : i != activeCardIndex}">
    ></fa-icon>
    <h5 class="text-2xl font-bold font font-nunito">{{service.title}}</h5>
    <p>{{service.description}}</p>
    </div>
</div>