<div class="py-5 text-center text-white home-image">
    <div class="flex flex-col gap-8 py-5">
        <div class="flex flex-col items-center justify-center gap-2 px-5 pt-10">
            <h1 #titleRef class="mt-12 text-4xl font-extrabold font-nunito">{{title}}</h1>
            <nav class="pb-4 font-normal mb-28">
                <ol class="flex gap-2 list-none">
                    <li>
                        <a [routerLink]="''" routerLinkActive="text-accent-orange">HOME</a>
                    </li>
                    <span class="opacity-40">/</span>
                    <li>
                        <p class="text-accent-orange">PAGES</p>
                    </li>
                    <span class="opacity-40">/</span>
                    <li>
                        <p>{{endpoint}}</p>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>