<div class="py-5 text-center text-white home-image">
    <div class="flex flex-col gap-8 py-5">
        <div class="flex flex-col items-center justify-center gap-2 px-5 pt-10">
            <h1 class="mt-12 text-4xl font-extrabold font-nunito">Enjoy Our<br> Delicious Meal</h1>
            <p class="pb-4 mb-2 font-medium ">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <button class="font-medium action-button">BOOK A TABLE</button>
        </div>
        <div class="p-6">
            <img src="\assets\img\hero.png" alt="hero.png" class="spin-slow">
        </div>
    </div>
</div>
