<app-pages-header></app-pages-header>
<div class="flex flex-col items-center justify-center">
    <div class="mb-10">
        <div class="flex items-center justify-center w-full gap-3 px-8 mt-20 max-h-16">
            <hr class="w-1/6 border-2 rounded-md border-accent-orange">
            <h5 class="text-xl font-medium font-pacifico text-accent-orange">Our Services</h5>
            <hr class="w-1/6 border-2 rounded-md border-accent-orange">
        </div>
        <h1 class="w-full text-3xl font-extrabold text-center font-nunito">Explore Our Services</h1>
    </div>
    <app-service-cards></app-service-cards>
</div>

