<div class="py-5 text-center text-white mb-28 home-image xl:py-12">
    <div class="flex flex-col items-center gap-8 py-5 xl:flex-row xl:items-center xl:justify-center xl:text-left">
        <div class="flex flex-col items-center justify-center gap-2 px-5 pt-10 xl:justify-center xl:items-start xl:pt-0">
            <h1 class="mt-12 text-4xl font-extrabold font-nunito xl:text-6xl xl:m-0">Enjoy Our<br> Delicious Meal</h1>
            <p class="pb-4 mb-2 font-medium ">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <button class="font-medium action-button">BOOK A TABLE</button>
        </div>
        <div class="p-6 md:w-10/12 xl:w-full">
            <img src="\assets\img\hero.png" alt="hero.png" class="spin-slow">
        </div>
    </div>
</div>
<app-service-cards [numberOfCards]="4"></app-service-cards>
<div class="xl:grid xl:grid-cols-2">
    <app-about-images></app-about-images>
    <app-about-us></app-about-us>
</div>
<app-sections-headers [title]="'Most Popular Items'" [lable]="'Food Menu'"></app-sections-headers>
<app-menu-popular></app-menu-popular>
<div class="md:grid xl:grid md:grid-cols-2 xl:grid-cols-2">
    <app-booking-video></app-booking-video>
    <app-booking-reservation></app-booking-reservation>
</div>
<app-sections-headers [title]="'Our Master Chefs'" [lable]="'Team Members'"></app-sections-headers>
<app-team-cards [numberOfCards]="4"></app-team-cards>
<app-sections-headers [title]="'Our Clients Say!!!'" [lable]="'Testimonial'"></app-sections-headers>
<app-testimonails-cards></app-testimonails-cards>



