<div class="py-5 text-center text-white mb-28 home-image">
    <div class="flex flex-col gap-8 py-5">
        <div class="flex flex-col items-center justify-center gap-2 px-5 pt-10">
            <h1 class="mt-12 text-4xl font-extrabold font-nunito">Enjoy Our<br> Delicious Meal</h1>
            <p class="pb-4 mb-2 font-medium ">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
            <button class="font-medium action-button">BOOK A TABLE</button>
        </div>
        <div class="p-6">
            <img src="\assets\img\hero.png" alt="hero.png" class="spin-slow">
        </div>
    </div>
</div>
<app-service-cards></app-service-cards>
<app-about-images></app-about-images>
<app-about-us></app-about-us>
<app-sections-headers [title]="'Most Popular Items'" [lable]="'Food Menu'"></app-sections-headers>
<app-menu-popular></app-menu-popular>
<app-booking-video></app-booking-video>
<app-booking-reservation></app-booking-reservation>
<app-sections-headers [title]="'Our Master Chefs'" [lable]="'Team Members'"></app-sections-headers>
<app-team-cards></app-team-cards>
<app-sections-headers [title]="'Our Clients Say!!!'" [lable]="'Testimonial'"></app-sections-headers>
<app-testimonails-cards></app-testimonails-cards>



