/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.action-button{
    color: #FFFFFF;
    border-radius: 2px;
    background-color: #FEA116;
    padding: 8px 24px;
}

.action-button:hover{
    background-color: #fda92a;
}