<section class="grid gap-6 m-6 md:grid-cols-2">
    <div #teamCards *ngFor="let teamMember of teamCardService.TeamCards" 
    class="flex flex-col items-center gap-2 p-8 cursor-pointer shadow-custom card-active transition-fade-effect md:mb-12">
        <div class="overflow-hidden rounded-full">
            <img src="{{teamMember.imgUrl}}" alt="">
        </div>
        <h5 class="text-2xl font-bold font font-nunito">{{teamMember.fullName}}</h5>
        <p>{{teamMember.designation}}</p>
    </div>
</section>